/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #eee6e6; 
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}